h1
{
    text-align: center;
}
form
{
    justify-content: center;
    display: flex;
}
input
{
    margin-left: 100px;
}
label
{
    display:inline-block;
    width: 100px;
}
select
{
    margin-left: 100px;
}

