table,th,td
{
    background-color: aquamarine;
    border: 1px solid white;
    border-collapse: collapse;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h1
{
    text-align: center;
}