h1
{
    text-align: center;
}

li 
{
    display: inline-block;
    padding-right: 8px;
    border-right: 1px solid #bbb;
}
ul
{
    padding-left: 0;
}

.mybox
{
    border: 1px solid black;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 10px;
    background-color: whitesmoke;
}
