.container {
    height: auto;
    overflow: hidden;
  }
  .right {
    width: 900px;
    float: right;
    background: white;
margin-top:100px;
  }
  .left {
    background: white;
    width: 300px;
    overflow: hidden;
  }
    /* Horizontal Navigation Bar */
    ul.horizontal-nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #A9A9A9;
        overflow: hidden;
       
    
    }

    ul.horizontal-nav li {
        float: left;
        border-right:1px solid blue;
    }

    ul.horizontal-nav li a {
        display: block;
        color: blue;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    ul.horizontal-nav li a:hover {
        background-color: #555;
    }

    /* Vertical Navigation Bar */
    ul.vertical-nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #add8e6;
        height: 100%;
        overflow: auto;
    }

    ul.vertical-nav li a {
        display: block;
        color: #000;
        padding: 12px 16px;
        text-decoration: none;
    }

    ul.vertical-nav li a.active {
         background-color: #ff8c00;
         color: white;
     }
    ul.vertical-nav li a:hover {
        background-color: #228b22;
        color: white;
    }